<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->


<div class="screen-overlay"></div>

<section class="content-main">
    <div class="row">
        <form method="post" action="/admin/addtrain" method="post">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add Train</h2>


                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    {{!-- <div class="card-header">
                        <h4>Basic</h4>
                    </div> --}}

                    <div class="card-body">

                        <div class="mb-4">
                            <label for="" class="form-label">Train Name</label>
                            <input type="text" placeholder="Type here" name="train_name" class="form-control" id="">
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Train Number</label>
                            <input type="number" placeholder="Type here" name="train_no" class="form-control" id="">
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Destination Point</label>
                            <input type="text" placeholder="Type here" name="destination" class="form-control" id="">
                        </div>

                        <div class="mb-4">
                            <label for="" class="form-label">First class</label>
                            <input type="number" placeholder="Type here" class="form-control" name="fc" id="">
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Second class</label>
                            <input type="number" placeholder="Type here" class="form-control" name="sc" id="">
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">third class</label>
                            <input type="number" placeholder="Type here" class="form-control" name="tc" id="">
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">Sleeper class</label>
                            <input type="number" placeholder="Type here" class="form-control" name="slc" id="">
                        </div>

                        <div>
                            <button class="btn btn-md btn-primary rounded font-sm hover-up "
                                type="submit">Publich</button>
                        </div>

                    </div>
                </div> <!-- card end// -->
            </div>
        </form>
    </div>
</section> <!-- content-main end// -->





<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->


</html>