


body {

 
    font-family: inherit;
    font-size: 100%;
    line-height: normal;
    box-shadow: none;
    border: none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
